<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Simplex</title>
    <style>
      body{
        font-family: optima;
      }
      .center {;
        margin: 20px auto;
        width: 80%;
        padding: 20px;
        border-left: 1px solid black;
      }
      h1 {
        color: blue;
      }
    </style>
</head>
<body>
    <div class="center overflow-auto">
    <h1>Methode Simplex en une Phase</h1>

    <form name='my-form' method='post' action="saisie">
        {% csrf_token %}
        <label for="choice">Choisir (minimiser ou maximiser) :</label>
        <br>
        <br>
        <select name="choice" id="choice" style="width: 250px">
            <option value="min">Maximiser</option>
        </select>

        <br>
        <br>
        <input type="number" name="number1" placeholder="Nombre de variable de décision" style="width: 250px" min="1" step="1" required>
        <br>
        <br>
        <input type="number" name="number2" placeholder="Nombre de contrainte" style="width: 250px" min="1" step="1" required>
        <br>
        <br>
        <button type="submit">Continuer</button>

    </form>
    </div>

</body>
</html>
